<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtle Meme News</title>

    {{!--
    <link href="/tailwind.css" rel="stylesheet"> --}}

    <link rel="stylesheet" href="/public/stylesheet/style.css">

    {{!--
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> --}}
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Subtle Meme News</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>

        </header>
        <main>
            {{{ body }}}
            <h1>Test</h1>
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>