<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtle Meme News</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper blue lighten-1">
                <a class="brand-logo" href="/">Subtle Meme News</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {{#if loggedIn}}
                    <li><a class="right" href="/dashboard">Dashboard</a></li>
                    <li><button class="waves-effect waves-light btn" id="logout">logout</button></li>
                    {{else}}
                    <li><a class="waves-effect waves-light btn" href="/login">login</a></li>
                    {{/if}}
                </ul>

            </div>
        </nav>

    </header>
    <main>
        {{{ body }}}
    </main>
    <footer class="page-footer blue lighten-1">
        <div>
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Subtle Meme News</h5>
                    <p class="grey-text text-lighten-4">Designed by Paul Chang</p>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="right">
                © 2021 Copyright Text

            </div>
        </div>
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>