<section class="row">
    <h3 class="grey-text text-darken-3">Create New Post</h3>

    <form class="col s3 new-post-form">
        <div class="row">
            <label for="post-title">Title</label>
            <input placeholder="Title" type="text" id="post-title" name="post-title" />
        </div>
        <div class="row">
            <label for="post-url">Link</label>
            <input placeholder="Link" id="post-url" name="post-url" />
        </div>
        <button type="submit" class="row btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h3 class="grey-text text-darken-3">Your Posts</h3>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>